body {
    background-color: black;
}
/*navbar*/
.navbar {
    background-color: transparent;
}
.navbar-brand {
    font-family: "Bebas Neue";
    margin-left: 8rem;
}
.navbar-nav {
    margin-right: 8rem;
}
.BgColour {
    color: rgb(255, 255, 255);
    transition: all 1s;
    background-color: black;
}

/*¿quienes somos*/
.titulos {
    color: white;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;

}
.tarjetas {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tarjeta1 {
    background-color: black;
}
.tarjetas-row {
    padding-left: 8rem;
    padding-right: 8rem;
}
.c-head {
    background-color: rgb(34, 212, 212);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding-left: 0;
    padding-right: 0;
    height: 3rem;
}
.icono {
vertical-align: 1rem;
}
.c-cuerpo {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 0.75rem;
}
/*destacados*/
.des-row {
    justify-content: center;
}
.tarjetas2 {
    background-color:  rgb(34, 212, 212);
    padding: 0px;
    color: white;
    font-family: "Montserrat";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 18rem;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 1rem;
}
.card-title {
    font-size: 1rem;
    font-weight: 700;
}
.tarjetas2 .card-text {
    font-size: 0.75rem;
}


/*media querys*/
@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 2rem;
    }
    .navbar-nav {
        margin-right: 2rem;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) {
    .tarjetas-row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tarjetas2 {
        width: 10rem;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .tarjetas2 {
        width: 12rem;
    }
}

