body {
    background-color: black;
}
/*navbar*/
.navbar {
    background-color: transparent;
}
.navbar-brand {
    font-family: "Bebas Neue";
    margin-left: 6rem;
}
.navbar-nav {
    margin-right: 6rem;
}
.BgColour {
    color: rgb(255, 255, 255);
    transition: all 1s;
    background-color: black;
}
/*¿quienes somos*/
.titulos {
    color: white;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;

}
.tarjetas {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.tarjeta1 {
    background-color: black;
}
.tarjetas-row {
    padding-left: 8rem;
    padding-right: 8rem;
}
.c-head {
    background-color: rgb(34, 212, 212);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding-left: 0;
    padding-right: 0;
    height: 3rem;
}
.icono {
vertical-align: 1rem;
}
.c-cuerpo {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 0.75rem;
}
/*destacados*/
.des-row {
    justify-content: center;
}
.tarjetas2 {
    background-color:  rgb(34, 212, 212);
    padding: 0px;
    color: white;
    font-family: "Montserrat";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 18rem;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 1rem;
}
.card-title {
    font-size: 1rem;
    font-weight: 700;
}
.tarjetas2 .card-text {
    font-size: 0.75rem;
}
.card-img-top {
   object-fit: cover;
}
/*contacto*/
.form1 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.form-label {
    color: white;
    font-family: "Montserrat";
    font-size: small;
    font-weight: 300;
}
.form-control {
    font-size: xx-small;
}
.msje {
    height: 400px;
}
.btn-primary {
    background-color: rgb(34, 212, 212);
}
/*footer*/
.footer {
    background-color:rgb(34, 212, 212);
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.f-text {
    font-family: "Montserrat";
    font-size: medium;
    font-weight: 300;
    display: inline;
    color: white;
}
.f-icons {
    font-size: 1.2rem;
    color: white;
    display: inline;
    float: right;
}
.f-btn {
    color: white;
}
/*media querys*/
@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 1rem;
    }
    .navbar-nav {
        margin-right: 1rem;
    }
    .form1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) {
    .tarjetas-row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tarjetas2 {
        width: 10rem;
    }
}
@media (min-width: 992px) and (max-width: 1440px) {
    .tarjetas2 {
        width: 14rem;
    }   
}
@media (min-width: 1440px) {
    .tarjetas2 {
        width: 18rem;
    } 
}


    
